{% extends "base.html" %}

{% block body %}
<main class="container">
  <h1 class="mb-4">Upload a zip of markdown files:</h1>
  <form class="mx-auto" method="post" enctype="multipart/form-data">
    <p>Existing files will be overwritten</p>
    <div class="d-inline-flex gap-2">
      <input class="form-control" name="zip_file" type="file" accept=".zip">
      <button class="btn btn-primary" type="submit">Upload</button>
    </div>
  </form>
  {% if !message.is_empty() ~%}
  <div class="alert alert-primary mt-5" role="alert">
    {{ message }}
  </div>
  {%~ endif %}
</main>
{% endblock body %}